<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="ExternalConfigrationConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=hackerrank;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ExternalConfigrationConnectionString" value="" />
    <add key="AppSettingTableName" value="Setting" />
  </appSettings>
</configuration>
